<h1>Flight list</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addFlight()" />
<table class="table table-striped">
  <thead>
    <tr>
      <td>Id</td>
      <td>FlightNumber</td>
      <td>DeparturePoint</td>
      <td>departureTime</td>
      <td>destinationPoint</td>
      <td>arrivalTime</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let flight of flights">
      <ng-template [ngTemplateOutlet]="loadTemplate(flight)"
                   [ngTemplateOutletContext]="{ $implicit: flight}">
      </ng-template>
    </tr>
  </tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-flight>
  <td>{{flight.id}}</td>
  <td>{{flight.flightNumber}}</td>
  <td>{{flight.departurePoint}}</td>
  <td>{{flight.departureTime | date:'yyyy-MM-dd HH:mm'}}</td>
  <td>{{flight.destinationPoint}}</td>
  <td>{{flight.arrivalTime | date:'yyyy-MM-dd HH:mm'}}</td>
  <td>
    <input type="button" value="Изменить" class="btn btn-default" (click)="editFlight(flight)" />
  </td>
  <td>
    <input type="button" value="Удалить" (click)="deleteFlight(flight)" class="btn btn-danger" />
  </td>
</ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
  <td>
    <input type="text" [(ngModel)]="editedFlight.id" readonly disabled class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="editedFlight.flightNumber" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="editedFlight.departurePoint" class="form-control" />
  </td>
  <td>
    <input type="datetime-local"  [(ngModel)]="editedFlight.departureTime" class="form-control" />
  </td>
  <td>
    <input type="text"  [(ngModel)]="editedFlight.destinationPoint" class="form-control" />
  </td>
  <td>
    <input type="datetime-local" [(ngModel)]="editedFlight.arrivalTime" class="form-control" />
  </td>
  <td>
    <input type="button" value="Сохранить" (click)="saveFlight()" class="btn btn-success" />
  </td>
  <td>
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </td>
</ng-template>
